# Ignore Data Files

*.csv
*.vtu
*.pvtu
*.npy

# Ignore Result Files

*.png
*.mp4
**/Dumps/
*.avi

# Ignore test folder

Python/test_figures_anim/

# Ignore Python cahce

**/__pycache__/
*.pyc
**/.ipynb_checkpoints/

# Ignore compiled files

*.s
*.tst
*.d
*.test
*.deps
basilisk_files/main/
basilisk_files/myibm/.[!.]*
basilisk_files/myibm/..?*
